<section class="shop-success-container row">
	<div class="shop-success-order-container col-md-12">
		<div class="shop-success-order-header">
			<h3>Order Success</h3>
		</div>
		<div class="shop-success-order-content">
            <div class="order-success-header-container mb-2">
                <p>Your Order was successfully placed.</p>
            </div>
            <div class="order-success-content-container mb-2">
                <a class="btn btn-primary" [routerLink]="['/shop']">Return to Shop</a>
            </div>
		</div>
	</div>
</section>