<section class="header-container">
	<div class="row">
		<div class="col-md-4 header-title-container">
			<h3><span class="shopblue">ANGULAR</span><span class="shoporange">SHOP</span></h3>
		</div>
		<div class="col-md-4 header-search-container">
			<form>
		        <div class="input-group">
			      <input type="text" class="form-control" placeholder="Search Item">
			      <span class="input-group-btn">
			        <button class="btn btn-default" type="button"><i class="fa fa-search"></i> Search</button>
			      </span>
		        </div>
			</form>
		</div>
		<div class="col-md-4 header-navigation-container">
			<ul>
				<li><a [routerLink]="['/shop']" [routerLinkActive]="['nav-active']" [routerLinkActiveOptions]="{exact:
true}">SHOP</a></li>
				<li><a [routerLink]="['/cart']" [routerLinkActive]="['nav-active']" [routerLinkActiveOptions]="{exact:
true}">CART</a></li>
				<li><a [routerLink]="['/login']">LOGOUT</a></li>
			</ul>
		</div>
	</div>
</section>