<section class="shop-list-container row">
	<div class="shop-item-container col-md-3">
		<div class="shop-item-content">
			<div class="shop-item-image">
				test
			</div>	
			<div class="shop-item-details">
				<div class="shop-item-title">
					<h5>Strawberries</h5>
				</div>
				<div class="shop-item-price">
					<h5>10.00 php</h5>
				</div>
				<div class="shop-item-description">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
			<div class="shop-item-cart">
				<form>
					<div class="row">
						<div class="col-md-4">
							<input type="number" min="1" value="1" class="form-control">
						</div>
						<div class="col-md-6">
							<button type="button" class="btn" type="button"><i class="fa fa-cart-plus"></i> Add to Cart</button>
					    </div>
				    </div>
				</form>
			</div>
		</div>
	</div>
</section>	