<section class="shop-list-container row">
	<ng-container *ngFor="let product of products">
		<div class="shop-item-container col-md-3">
			<div class="shop-item-content">
				<div class="shop-item-image">
					<img src="{{ product.image }}" />
				</div>	
				<div class="shop-item-details">
					<div class="shop-item-title">
						<h5>{{ product.name }}</h5>
					</div>
					<div class="shop-item-price">
						<h5>{{ product.price | currency:'USD':true }}</h5>
					</div>
					<div class="shop-item-description">
						<p>{{ product.description }}</p>
					</div>
				</div>
				<div class="shop-item-cart">
					<form role="form" (submit)="addToCart($event, product, quantity.value)">
						<div class="row">
							<div class="col-md-4">
								<input type="number" min="1" value="1" class="form-control" #quantity>
							</div>
							<div class="col-md-6">
								<button type="submit" class="btn"><i class="fa fa-cart-plus"></i> Add to Cart</button>
						    </div>
					    </div>
					</form>
				</div>
			</div>
		</div>
	</ng-container>
</section>	