<section class="shop-cart-container row">
	<div class="shop-cart-item-container col-md-12">
		<div class="shop-cart-item-header">
			<h3>Cart</h3>
		</div>
		<div class="shop-cart-item-content">
			<div class="shop-cart-table-container">
				<table class="table">
	                <thead class="text-center">
	                    <tr>
	                        <th>Item Name</th>
	                        <th>Quantity</th>
	                        <th>Unit Cost</th>
	                        <th>Total</th>
	                        <th></th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr>
	                        <td>test 1</td>
	                        <td>test2</td>
	                        <td>test 3</td>
	                        <td>test 4</td>
	                        <td>test 5</td>
	                    </tr>
	                </tbody>
	            </table>
            </div>
            <div class="shop-cart-total-container">
            	test
            </div>
            <div class="shop-cart-checkout-container">
            	Checkout
            </div>
		</div>
	</div>
</section>